{% extends 'front.html.twig' %}

{% block title %}Edit Payement{% endblock %}

{% block body %}
<section class="u-clearfix u-palette-2-base u-section-3" id="carousel_38bf">
    <h1>Edit Payement</h1>

    {{ include('payement/_form.html.twig', {'button_label': 'modifier'}) }}

    <button <button class="u-border-2 u-border-black u-border-hover-grey-25 u-btn u-btn-round u-button-style u-hover-white u-none u-radius-50 u-btn-3"><a href="{{ path('app_maison_index')}}">retourner</a></button>

    
{% endblock %}
